{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  {{ restaurant.title }}
{% endblock title %}

{% block content %}
<div class="main row text-center mt-5 py-5">
  <div class="acmain py-5">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form post_form %}
      <div class="form-group my-3">
        <button type="submit" class="btn" style="background-color: rgba(59, 63, 140, 1); color:#fff; ">등록</button>
        <a href="{% url 'communities:board' %}" class="btn btn-default mx-3">취소</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block js %}{% endblock js %}
