{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
  <section class="mainbg">
    <div class="container-lg">
      <!--게시글 디테일-->
      <div class="card boxbg mb-3">
        <div class="card-header">
          <h3>{{ post.title }}</h3>
          <h5 class="card-title">{{ post.name }}</h5>
        </div>
        <div class="card-body d-flex justify-content-between">
          <p class="card-subtitle text-muted">{{ post.created_at }}</p>
          <p class="card-subtitle text-muted">
            <i class="fa fa-comment" aria-hidden="true"></i>
            {{ total_comments }}</p>
        </div>
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.img_path }}" class="card-img d-block user-select-none" width="auto" height="200" viewbox="0 0 318 180">
        {% else %}
          <img src="{% static 'img/anonymous.png' %}" alt="No_images" class="card-img d-block user-select-none" width="auto" height="200" viewbox="0 0 318 180">
        {% endif %}
        <div class="card-body" style="min-height: 250px">
          <p class="card-text text-wrap">{{ post.content|striptags }}</p>
        </div>
      </div>
      <!--게시글 아래 버튼 묶음-->
      <div class="d-flex justify-content-between my-3">
        <a href="{% url 'communities:board' %}" type="button" class="card-link btn btn-secondary">
          <i class="fas fa-stream mx-1"></i>목록</a>
        <div>
          <a href="{% url 'communities:update' post.pk %}" type="button" class="card-link btn likecxlbtn">수정</a>
          <button type="button" class="btn likebtn mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            삭제
          </button>
        </div>
      </div>
      <!-- 삭제 모달-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">정말 삭제하시겠습니까?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-footer">
              <form action="{% url 'communities:delete' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="삭제">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  취소
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--댓글-->
      <div class="card my-5">
        <div class="card-header">
          <i class="fa-regular fa-comment-smile"></i>리뷰
          {{ total_comments }}개</h6>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {% for comment in comments %}
            <li class="list-group-item mb-3">
              <p>{{ comment.title }}</p>
              <p>{{ comment.rating }}</p>
              <p>{{ comment.content }}</p>
              <div>
                <a href="#" type="button" class="btn btn-primary btn-sm">수정</a>
                <a href="{% url 'communities:delete_comment' post.pk comment.pk %}" method="post">삭제
                </a>
              </div>
            </li>
            {% empty %}
            <li class="list-group-item my-5">작성된 댓글이 없습니다.</li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-footer">
        <form action="{% url 'communities:create_comment' post.pk %}" method="post">
          {% csrf_token %}
          {% bootstrap_form comment_form %}
          <button type="submit" class="btn btn-primary btn-sm">등록</button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
{% block js %}{% endblock js %}
