{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
<section class="mainbg">
  <div class="container-lg">
    <div class="boxbg">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group my-3 d-flex justify-content-between">
          <a href="{% url 'communities:detail' post.pk %}" class="btn btn-purple">뒤로가기</a>
          <button type="submit" class="btn btn-all">등록</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}{% endblock js %}
