/* Color Theme Swatches in Hex */
.Riksrevisjonen-Rapport-1-hex { color: #F22771; }
.Riksrevisjonen-Rapport-2-hex { color: #F28DB2; }
.Riksrevisjonen-Rapport-3-hex { color: #F2AEC7; }
.Riksrevisjonen-Rapport-4-hex { color: #F2F2F2; }
.Riksrevisjonen-Rapport-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Riksrevisjonen-Rapport-1-rgba { color: rgba(242, 39, 113, 1); }
.Riksrevisjonen-Rapport-2-rgba { color: rgba(242, 141, 178, 1); }
.Riksrevisjonen-Rapport-3-rgba { color: rgba(242, 174, 199, 1); }
.Riksrevisjonen-Rapport-4-rgba { color: rgba(242, 242, 242, 1); }
.Riksrevisjonen-Rapport-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.Riksrevisjonen-Rapport-1-hsla { color: hsla(338, 88, 55, 1); }
.Riksrevisjonen-Rapport-2-hsla { color: hsla(338, 79, 75, 1); }
.Riksrevisjonen-Rapport-3-hsla { color: hsla(337, 72, 81, 1); }
.Riksrevisjonen-Rapport-4-hsla { color: hsla(0, 0, 94, 1); }
.Riksrevisjonen-Rapport-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.Archive-Your-Dream-1-hex { color: #292759; }
.Archive-Your-Dream-2-hex { color: #464AA6; }
.Archive-Your-Dream-3-hex { color: #3B3F8C; }
.Archive-Your-Dream-4-hex { color: #1F2440; }
.Archive-Your-Dream-5-hex { color: #F2CF8D; }

/* Color Theme Swatches in RGBA */
.Archive-Your-Dream-1-rgba { color: rgba(41, 39, 89, 1); }
.Archive-Your-Dream-2-rgba { color: rgba(70, 74, 166, 1); }
.Archive-Your-Dream-3-rgba { color: rgba(59, 63, 140, 1); }
.Archive-Your-Dream-4-rgba { color: rgba(31, 36, 64, 1); }
.Archive-Your-Dream-5-rgba { color: rgba(242, 207, 141, 1); }

/* Color Theme Swatches in HSLA */
.Archive-Your-Dream-1-hsla { color: hsla(242, 39, 25, 1); }
.Archive-Your-Dream-2-hsla { color: hsla(237, 40, 46, 1); }
.Archive-Your-Dream-3-hsla { color: hsla(237, 40, 39, 1); }
.Archive-Your-Dream-4-hsla { color: hsla(230, 34, 18, 1); }
.Archive-Your-Dream-5-hsla { color: hsla(39, 79, 75, 1); }

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
    text-decoration: none;
    color: #333;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.thumb_profile {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
    border-radius: 50% ; 
    height: 32px;
    width: 32px;
}

body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.slidebox {
    max-width:100%;
    position:relative;
}
.slidebox .slidelist {
    position:relative;
    white-space:nowrap;
    font-size: 0;
    overflow:hidden;
}

.slidebox .slidelist .slideitem {
    border-radius: 2rem;
    position:relative;
    vertical-align:middle;
    display:inline-block;
    font-size: 1rem;
    /* background-color:linear-gradient(rgba(0, 0, 0, 0.7), rgba(125,125,125,0.7)); */
    background-color: white;
    width:100%;
    transition:all 1s;
}
.slidebox .slidelist .slideitem > div {
    margin: 2rem 0;
}

.slidebox .slidelist .slideitem > div > div > div[class*="card"] {
    border-radius: 2rem;
    height: 35vh;
}

.slidebox .slide-control [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
.slidebox .slide-control [class*="control"] label.prev {left:-50px;
    background:#333 url('../images/home/left-arrow.png') center center / 50% no-repeat;
}
.slidebox .slide-control [class*="control"] label.next {right:-50px;
    background:#333 url('../images/home/right-arrow.png') center center / 50% no-repeat;
}

[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {left:0;}
#slide02:checked ~ .slidelist .slideitem {left:-100%;}
#slide03:checked ~ .slidelist .slideitem {left:-200%;}
#slide04:checked ~ .slidelist .slideitem {left:-300%;}

.slide-control [class*="control"] {display:none;}
#slide01:checked ~ .slide-control .control01 {display:block;}
#slide02:checked ~ .slide-control .control02 {display:block;}
#slide03:checked ~ .slide-control .control03 {display:block;}
#slide04:checked ~ .slide-control .control04 {display:block;}

.main_back {
    background: linear-gradient(rgba(125,125,125,0.9), rgba(125,125,125,0.9)), url(../images/home/back_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
}

.select_tag {
    width: 90%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.select_tag div[class="tag_list"] {
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 1rem;
    width: 7vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select_tag div[class="tag_list"]:hover {
    cursor: pointer;
}

.card_back {
    border-radius: 1rem;
    height: 40vh;
    background-color: rgba(225,225,225,.9);
    box-shadow: 5px 5px 5px 2px black;
}
.thumb_profile {
    border-radius: 70%;
    overflow: hidden;
}

.thumb_profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    display: flex;
    justify-content: center;
}

.acmain{
    width: 40rem;
    background-color: rgba(248, 248, 248, 0.9);
    box-shadow: 5px 5px 5px 2px black;
    border-radius: 1rem;
    opacity: 90%;
}


.title_profile {
    border-radius: 70%;
    overflow: hidden;
    width: 2.5rem;
    height: 2.5rem;
}

.title_profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* login css */