html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.slidebox {
    max-width:100%;
    position:relative;
}
.slidebox .slidelist {
    position:relative;
    white-space:nowrap;
    /* overflow:hidden; */
}

.slidebox .slidelist .slideitem {
    border-radius: 2rem;
    position:relative;
    display:inline-block;
    vertical-align:middle;
    /* background-color:linear-gradient(rgba(0, 0, 0, 0.7), rgba(125,125,125,0.7)); */
    background-color: white;
    width:100%;
    transition:all 1s;
}
.slidebox .slidelist .slideitem > div {
    margin: 2rem 0;
}

.slidebox .slidelist .slideitem > div > div > div[class*="card"] {
    border-radius: 2rem;
    height: 35vh;
}

.slidebox .slide-control [class*="control"] label {
    position:absolute;
    z-index:10;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
.slidebox .slide-control [class*="control"] label.prev {left:-50px;
    background:#333 url('../images/home/left-arrow.png') center center / 50% no-repeat;
}
.slidebox .slide-control [class*="control"] label.next {right:-50px;
    background:#333 url('../images/home/right-arrow.png') center center / 50% no-repeat;
}

[name="slide"] {display:none;}
#slide01:checked ~ .slidelist .slideitem {left:0;}
#slide02:checked ~ .slidelist .slideitem {left:-100%;}
#slide03:checked ~ .slidelist .slideitem {left:-200%;}
#slide04:checked ~ .slidelist .slideitem {left:-300%;}

.slide-control [class*="control"] {display:none;}
#slide01:checked ~ .slide-control .control01 {display:block;}
#slide02:checked ~ .slide-control .control02 {display:block;}
#slide03:checked ~ .slide-control .control03 {display:block;}
#slide04:checked ~ .slide-control .control04 {display:block;}

.main_back {
    background: linear-gradient(rgba(125,125,125,0.9), rgba(125,125,125,0.9)), url(../images/home/back_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.select_tag {
    width: 90%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.select_tag div[class="tag_list"] {
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 1rem;
    width: 7vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.select_tag div[class="tag_list"]:hover {
    cursor: pointer;
}