/* Color Theme Swatches in Hex */

.Perhapy-1 { color: #D9ADCD; }
.Perhapy-2 { color: #9E95BF; }
.Perhapy-3 { color: #34268C; }
.Perhapy-4 { color: #8372F2; }
.Perhapy-5 { color: #8477D9; }

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family:'Pretendard-Regular'; 
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

a {
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.btn {
    cursor: pointer;
}

.thumb_profile {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

html body {
	line-height: 1;
    height: 100%;
    width: 100%;
}

/* IE Hack */
html #container {
	height: 100%;
    width: 100%;
}

ol, ul, li {
	list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.glassnav {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin-top: .9375rem;
}

.boxbg {
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin-top: .9375rem;
}

.slidebox {
    max-width: 80%;
    position: relative;
}

.slidebox .slidelist {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slidelist .slideitem {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-size: 1rem;
    background-color: rgba(242, 242, 242, 0);
    width: 100%;
    transition: all .5s;
}

.slidebox .slidelist .slideitem>div {
    margin: 2rem 0;
}

.slidebox .slidelist .slideitem>div>div>div[class*="card"] {
    border-radius: 2rem;
    height: 35vh;
    background-color: rgba(242, 242, 242, .6);
}

.slidebox .slide-control [class*="control"] label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.slidebox .slide-control [class*="control"] label.prev {
    left: -50px;
    background: #333 url('../images/home/left-arrow.png') center center / 50% no-repeat;
}

.slidebox .slide-control [class*="control"] label.next {
    right: -50px;
    background: #333 url('../images/home/right-arrow.png') center center / 50% no-repeat;
}

[name="slide"] {
    display: none;
}

#slide01:checked~.slidelist .slideitem {
    left: 0;
}

#slide02:checked~.slidelist .slideitem {
    left: -100%;
}

#slide03:checked~.slidelist .slideitem {
    left: -200%;
}

#slide04:checked~.slidelist .slideitem {
    left: -300%;
}

.slide-control [class*="control"] {
    display: none;
}

#slide01:checked~.slide-control .control01 {
    display: block;
}

#slide02:checked~.slide-control .control02 {
    display: block;
}

#slide03:checked~.slide-control .control03 {
    display: block;
}

#slide04:checked~.slide-control .control04 {
    display: block;
}


.mainbg {
    background:linear-gradient(#f28db280,#3b3f8c80);

    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.select_tag {
    width: 90%;
    padding: 2rem 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.select_tag button[class="tag_list"] {
    border: 1px solid rgb(179, 177, 180);
    background-color: rgba(242, 242, 242, 1);
    ;
    border-radius: 1rem;
    /* box-shadow: 2px 2px 2px 2px rgba(70, 74, 166, .6); */
    width: 7vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card_back {
    border-radius: 1rem;
    height: 40vh;
    background: linear-gradient(#D4BDFF, #FFD1CE);
    box-shadow: 5px 5px 5px 2px rgba(70, 74, 166, .6);
    color: rgba(32, 32, 32, .9);
    font-size: 1rem;
    line-height: 1.3rem;
}

.thumb_profile {
    border-radius: 70%;
    overflow: hidden;
}

.thumb_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    display: flex;
    justify-content: center;
}

.acmain {
    width: 40rem;
    background-color: rgba(248, 248, 248, 0.9);
    box-shadow: 5px 5px 5px 2px black;
    border-radius: 1rem;
    opacity: 90%;
}


.title_profile {
    border-radius: 70%;
    overflow: hidden;
    width: 2.5rem;
    height: 2.5rem;
}

.title_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul[class="pagination"]>li[class="page-item"]>a {
    text-decoration: none;
    color: rgba(242, 207, 141, 1);
}

/* h1 tag 관련 */

#mat {
    padding-top: 1rem;
    /* animation: flicker 2s infinite alternate; */
    color: rgb(0, 0, 0);
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(251, 255, 0),
            0 0 80px rgba(70, 74, 166, 1),
            0 0 90px rgba(70, 74, 166, 1),
            0 0 100px rgba(70, 74, 166, 1),
            0 0 120px rgba(70, 74, 166, 1);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

#home_card {
    color: rgba(70, 74, 166, 1);
}

#board_out {
    backdrop-filter: blur(16px) saturate(170%);
    -webkit-backdrop-filter: blur(16px) saturate(170%);
    background-color: rgba(242, 242, 242, 0.56);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    animation: blinking 2s alternate infinite;
    padding: 1rem;
}

@keyframes blinking {
    from {
        box-shadow: 0 0 5px 5px rgba(59, 63, 140, 1);
    }

    50% {
        box-shadow: 0 0 5px 5px rgba(70, 74, 166, 1);
    }

    to {
        box-shadow: 0 0 5px 5px rgba(242, 141, 178, 1);
        ;
    }
}

.page_card {
    backdrop-filter: blur(16px) saturate(170%);
    -webkit-backdrop-filter: blur(16px) saturate(170%);
    background-color: rgba(242, 242, 242, 0.56);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 100%;
}

/* 로그인 */
.loginbg {
    background-color: #292759;
    height: 100%;
    margin: 0;
    padding: 10rem 4rem;
}

.login {
    width: 40rem;
}

.socialbtn {
    height:40px;
    width: 70px;
    object-fit: fill;
}

.glass {
    padding: 2rem;
    backdrop-filter: blur(13px) saturate(200%);
    -webkit-backdrop-filter: blur(13px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.pagination {
    padding-top: 1.5rem !important;
}

.page-link {
    padding: 0.6rem 0.8rem 0.6rem;
    color: #f1f1f1;
    background-color: rgba(59, 63, 140, 1);
    border: 1px solid rgba(254, 255, 215, 0.863);
}

.page-item.disabled .page-link {
    color: #f1f1f1;
    background-color: rgba(59, 63, 140, 1) !important;
    border: 1px solid rgba(254, 255, 215, 0.863) !important;

}

.page-item.active .page-link {
    z-index: 1;
    color: #f1f1f1;
    font-weight: bold;
    background-color: rgba(70, 74, 166, 1);
    border-color: #ccc;

}

.page-link:focus,
.page-link:hover {
    color: #000;
    background-color: rgba(59, 63, 140, 1);
    border-color: #ccc;
}

.page-item {
    border-radius: 50%;
}

/* articles/aboutus */
.aboutusbg {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg');
    background-position: center;
    background-size: cover;
    padding: 10rem;
    height: 100vh;
    width: 100%;
}

.aboutus {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: 30rem;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -150px;
    margin-top: -150px;
}

/* articles/detail */
.resimg {
    height: 31.25rem;
    width: auto;
    object-fit: contain;
}

.likecxlbtn {
    background-color: #292759;
    color: white;
    
}

.likebtn {
    background-color: #db8fc6;
    color: white;
}

.detailbg {
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.naver {
    width: 100%;
    height: 10px;
}

.checked{
    color: #8372F2;
}

/* articles/main */
.mainsearch {
    width: 100%;
    height: 31.25rem;
    background-image: url("https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/jvdgulik/85726d7b-2468-4e08-829b-cae855be0f1a.jpg");
    background-position: center;
    background-size: cover;
    margin-top: -2.25rem;
}

/* button */
.btn-all {
    background-color: rgba(59, 63, 140, 1); 
    color:#fff; 
}

.btn-pink {
    background-color: rgba(242, 141, 178, 1);  
    color:#fff;
}

.btn-purple {
    background-color: #8372F2;
    color:#fff;
}