{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<section class="mainbg">
  <div class="container mt-5 py-5 d-flex justify-content-center">
    <div class="boxbg p-5">
      <h2 class="text-center">비밀번호 변경</h2>
      <form action="{% url 'accounts:change_password' %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form%}
        <input class="btn my-2" style="background-color: rgba(59, 63, 140, 1); color:#fff;" type="button" value="변경완료">
      </form>
    </div>
  </div>
</section>
{% endblock content %}