{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <section class="loginbg">
    <div class="container">
      <div class="glassmorphism-card">
        <h1 class="text-center">로그인</h1>
        <div class="row">
          <div class="col">
            <form action="{% url 'accounts:login' %}" method='POST' onsubmit="return frm_check();">
              {% csrf_token %}
              {% render_field form.username class="form-control w-70" placeholder="아이디를 입력하세요" type="text" name="id" id="logId" %}
              {% render_field form.password class="form-control w-70 my-5" placeholder="비밀번호를 입력하세요" %}
              <input class="form-control btn btn-primary" type="submit" value="로그인">
            </form>
            {% load socialaccount %}
            <div class="d-grid mt-3 mb-2">
              <a href="{% provider_login_url 'naver' %}" class="btn btn-info">
                <i class="fa fa-twitter mx-3"></i>네이버로 시작하기</a>
            </div>

            <div class="d-grid mb-3">
              <a href="{% provider_login_url 'google' %}" class="btn btn-danger">
                <i class="fa fa-google mx-3"></i>구글로 시작하기</a>
            </div>
            
            <ul>
              <li>
                  <!-- 아래와같이 아이디를 꼭 써준다. -->
                  <a id="naverIdLogin_loginButton" href="javascript:void(0)">
                      <img style="height: 40px" src="{% static 'img/loginnn.png' %}" alt="">
                  </a>
                  
              </li>
              <li onclick="naverLogout(); return false;">
                  <a href="javascript:void(0)">
                    <img style="height: 40px" src="{% static 'img/logoutt.png' %}" alt="">
                  </a>
              </li>
            </ul>
            <ul>
              <li onclick="kakaoLogin();">
                  <a href="javascript:void(0)">
                      <span>카카오 로그인</span>
                  </a>
              </li>
              <li onclick="kakaoLogout();">
                  <a href="javascript:void(0)">
                      <span>카카오 로그아웃</span>
                  </a>
              </li>
            </ul>
            <!--아이디저장, 찾기 묶음-->
            <div class="box d-flex flex-row justify-content-between mt-5">
              <span class="input-wrap">
                <input type="checkbox" name="saveId" id="saveId">
                <label for="saveId">
                  <span></span></label>
                아이디 저장
              </span>
              <ul class="find d-flex flex-row">
                <li class="idSearch mx-3" id="idSearch" style="cursor: hand; cursor: pointer">아이디 찾기</li>
                <li class="pwSearch" id="pwSearch" style="cursor: hand; cursor: pointer">비밀번호 찾기</li>
              </ul>
            </div>
          </div>
          {% comment %} <div class="col">
            <a href="{% url 'accounts:signup' %}">
              <img src="{% static 'images/login/signup.gif' %}" alt="회원가입" width="550">
            </a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
{% block js %}
<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>

<script>

var naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "mwAzJRdaHS860HumilZ7", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
			callbackUrl: "http://localhost:8000/accounts/naverlogin/", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
			isPopup: false,
			callbackHandle: true
		}
	);	

naverLogin.init();

window.addEventListener('load', function () {
	naverLogin.getLoginStatus(function (status) {
		if (status) {
			var email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문을 줍니다.
    		
			console.log(naverLogin.user); 
    		
            if( email == undefined || email == null) {
				alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
				naverLogin.reprompt();
				return;
			}
		} else {
			console.log("callback 처리에 실패하였습니다.");
		}
	});
});


var testPopUp;
function openPopUp() {
    testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
}
function closePopUp(){
    testPopUp.close();
}

function naverLogout() {
	openPopUp();
	setTimeout(function() {
		closePopUp();
		}, 1000);
	
	
}
</script>
<!-- 카카오 스크립트 -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
Kakao.init('4b7a7b295db27f9bc49212e71f748d3d'); //발급받은 키 중 javascript키를 사용해준다.
console.log(Kakao.isInitialized()); // sdk초기화여부판단
//카카오로그인
function kakaoLogin() {
    Kakao.Auth.login({
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
        	  console.log(response)
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
//카카오로그아웃  
function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function (response) {
        	console.log(response)
        },
        fail: function (error) {
          console.log(error)
        },
      })
      Kakao.Auth.setAccessToken(undefined)
    }
  }  
</script>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
    $(function () {

      fnInit();

    });

    function frm_check() {
      saveid();
    }

    function fnInit() {
      var cookieid = getCookie("saveid");
      console.log(cookieid);
      if (cookieid != "") {
        $("input:checkbox[id='saveId']").prop("checked", true);
        $('#logId').val(cookieid);
      }

    }

    function setCookie(name, value, expiredays) {
      var todayDate = new Date();
      todayDate.setTime(todayDate.getTime() + 0);
      if (todayDate > expiredays) {
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiredays + ";";
      } else if (todayDate < expiredays) {
        todayDate.setDate(todayDate.getDate() + expiredays);
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
      }

      console.log(document.cookie);
    }

    function getCookie(Name) {
      var search = Name + "=";
      console.log("search : " + search);

      if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면
        offset = document
          .cookie
          .indexOf(search);
        console.log("offset : " + offset);
        if (offset != -1) { // 쿠키가 존재하면
          offset += search.length;
          // set index of beginning of value
          end = document
            .cookie
            .indexOf(";", offset);
          console.log("end : " + end);
          // 쿠키 값의 마지막 위치 인덱스 번호 설정
          if (end == -1) 
            end = document.cookie.length;
          console.log("end위치  : " + end);

          return unescape(document.cookie.substring(offset, end));
        }
      }
      return "";
    }

    function saveid() {
      var expdate = new Date();
      if ($("#saveId").is(":checked")) {
        expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30);
        setCookie("saveid", $("#logId").val(), expdate);
      } else {
        expdate.setTime(expdate.getTime() - 1000 * 3600 * 24 * 30);
        setCookie("saveid", $("#logId").val(), expdate);

      }
    }
  </script>
{% endblock js %}