{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<section class="loginbg">
  <div class="container d-flex justify-content-center">
    <div class="boxbg boxbgwid p-5">
      <h1 class="text-center mb-3">로그인</h1>
      <form action="{% url 'accounts:login' %}" method='POST' onsubmit="return frm_check();">
        {% csrf_token %}
        {% render_field form.username class="form-control w-70" placeholder="아이디를 입력하세요" type="text" name="id" id="logId" %}
        {% render_field form.password class="form-control w-70 my-5" placeholder="비밀번호를 입력하세요" %}
        <input class="form-control btn likecxlbtn" type="submit" value="로그인">
        <p class="text-center my-5">회원이 아니신가요? 👉 <a href="{% url 'accounts:signup' %}">회원가입</a></p>
      </form>
        <!--아이디저장, 찾기 묶음-->
        <div class="box d-flex flex-row justify-content-between my-5">
        <span class="input-wrap">
          <input type="checkbox" name="saveId" id="saveId">
          <label for="saveId">
            <span></span></label>
          아이디 저장
        </span>
        <ul class="find d-flex flex-row">
          <li class="idSearch mx-3" id="idSearch" style="cursor: hand; cursor: pointer">아이디 찾기</li>
          <li class="pwSearch" id="pwSearch" style="cursor: hand; cursor: pointer">비밀번호 찾기</li>
        </ul>
      </div>
      {% load socialaccount %}
      <h5 class="text-center my-3">SNS계정으로 로그인하기</h5>
      <div class="d-flex flex-row" style="justify-content: space-evenly; ">
        <a href="{% url 'accounts:login' %}kakao"><img src="{% static 'images/login/kakaoo.png' %}" alt="kakaologin"></a>
        <a href="{% url 'accounts:login' %}naver"><img class="socialbtn" src="{% static 'images/login/nnaver.png' %}" alt="naverlogin"></a>
      </div>
     
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
    $(function () {

      fnInit();

    });

    function frm_check() {
      saveid();
    }

    function fnInit() {
      var cookieid = getCookie("saveid");
      console.log(cookieid);
      if (cookieid != "") {
        $("input:checkbox[id='saveId']").prop("checked", true);
        $('#logId').val(cookieid);
      }

    }

    function setCookie(name, value, expiredays) {
      var todayDate = new Date();
      todayDate.setTime(todayDate.getTime() + 0);
      if (todayDate > expiredays) {
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiredays + ";";
      } else if (todayDate < expiredays) {
        todayDate.setDate(todayDate.getDate() + expiredays);
        document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
      }

      console.log(document.cookie);
    }

    function getCookie(Name) {
      var search = Name + "=";
      console.log("search : " + search);

      if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면
        offset = document
          .cookie
          .indexOf(search);
        console.log("offset : " + offset);
        if (offset != -1) { // 쿠키가 존재하면
          offset += search.length;
          // set index of beginning of value
          end = document
            .cookie
            .indexOf(";", offset);
          console.log("end : " + end);
          // 쿠키 값의 마지막 위치 인덱스 번호 설정
          if (end == -1) 
            end = document.cookie.length;
          console.log("end위치  : " + end);

          return unescape(document.cookie.substring(offset, end));
        }
      }
      return "";
    }

    function saveid() {
      var expdate = new Date();
      if ($("#saveId").is(":checked")) {
        expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30);
        setCookie("saveid", $("#logId").val(), expdate);
      } else {
        expdate.setTime(expdate.getTime() - 1000 * 3600 * 24 * 30);
        setCookie("saveid", $("#logId").val(), expdate);

      }
    }
  </script>
{% endblock js %}