{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<section class="mainbg">
  <div class="container text-center mt-5 py-5">
    <div class="boxbg py-5">
      <h1 class="mb-5">환영합니다!</h1>
      {% if user.is_authenticated %}
        <h1>{{ user }}님</h1>
        <div class="my-3 d-flex flex-row justify-content-center">
          <a class="btn" href="{% url 'accounts:index' %}" style="background-color: #8372F2; color:#fff;">회원 목록</a>
          <a class="btn mx-4" href="{% url 'accounts:profile' user.pk %}" style="background-color: rgba(59, 63, 140, 1); color:#fff;">프로필</a>
          <a class="btn likebtn" href="{%  url 'accounts:logout' %}">로그아웃</a>
        </div>
      {% else %}
        <div>
          <p class="my-3">회원이면</p>
          <a class="btn likecxlbtn" href="{%  url 'accounts:login' %}">로그인</a>
        </div>
        <div>
          <p class="mt-5">비회원이면</p>
          <div class="form d-flex justify-content-center my-3">
            <a class="btn likebtn me-4" href="{%  url 'accounts:signup' %}">회원가입</a>
            <a class="btn" style="background-color: #8372F2; color:#fff;" href="{%  url 'articles:board' %}">비회원으로 계속</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
