{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<section class="mainbg">
  <div class="container text-center mt-5 py-5">
    <div class="boxbg py-5">
      <div class="profilepic">
      {% if user.profile_pic %}
        <img src="{{ user.profile_pic.url }}" alt="프사" class="pf_img">
        {% else %}
        <img src="{% static 'images/profile/default.png' %}" alt="프사" class="pf_img">
        {% endif %}
      </div>
      <h1 class="my-2 ">{{ user.username }}님의 프로필</h1>
      <p class="my-2">{{ user.email }}</p>
      <p class="my-2">{{ user.full_name }}</p>
      <p class="my-2">팔로우 : {{ user.followings.count }} | 팔로워 : {{ user.followers.count }}</p>
      {% if request.user != user %}
        <a href="{% url 'accounts:follow' user.pk %}">
          {% if request.user in user.followers.all %}
            <input class="btn btn-pink my-2" type="submit" value='팔로우 취소'>
          {% else %} 
            <input class="btn btn-all my-2" type="submit" value='팔로우'>
          {% endif %}
        </a>
      {% endif %}
        <h4 class="fw-bold my-3">좋아요 누른 글</h4>
        <p class="text-muted my-3">{{ user.like_articles.count }}개를 좋아합니다.</p>
        {% for article in user.like_articles.all %}
          <p>
            <a class="text-decoration-none" href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
          </p>
        {% endfor %}
      <h3 class="my-2">작성 글</h3>
      <p class="text-muted my-3">{{ user.article_set.count }}개 작성 완료</p>
      {% for article in user.article_set.all %}
      <p>{{ forloop.counter }}
      <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
      </p>
    {% endfor %}


        <h3 class="my-2">작성 댓글</h3>
        <p class="text-muted my-3">{{ user.comment_set.count }}개 작성 완료</p>
        {% for comment in user.comment_set.all%}
        <p>{{ forloop.counter }}
        <a href="{ url 'articles:detail' comment.article_id }">{{ comment.content }}</a>
        </p>
        {% endfor %}

      <p class="my-3">
        {% if user.is_authenticated %}
          <a class="btn likecxlbtn" href="{% url 'accounts:logout' %}">로그아웃</a>
          {% if request.user == user %}
          <a class="btn btn-purple" href="{% url 'accounts:update' %}">프로필 수정</a>
          <a class="btn likebtn" href="{% url 'accounts:delete' %}">회원탈퇴</a>  
          {% endif %}
        {% else %}
        {% endif %}
      </p>
    </div>
  </div>
</section>
{% endblock content %}
 