{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <div class="container mb-5">
    <h1 class="text-center my-5">회원가입</h1>
    <form action="" method='POST'>
      {% csrf_token %}
      {% bootstrap_form form %}
      <input name="job" required="required" type="checkbox" value="1" onclick="doOpenCheck(this);">일반인
      <br/>
      <input name="job" required="required" type="checkbox" value="2" onclick="doOpenCheck(this);">사장님
      <br/>
      <button class="btn btn-primary" type="submit">제출</button>
    </form>
  </div>
{% endblock content %}