{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %} | about us{% endblock title %}
{% block content %}
<section class="aboutusbg">
  <div class="card aboutus">
    <div class="card-body d-flex flex-column justify-content-around align-content-center align-items-center py-5">
      <small class="my-5">2022. 10. 31 - 2022. 11. 7</small>
      <i class="mt-5">created by</i>
      <P style="line-height: 200%;">노은빈<br>김다솔<br>최근영<br>황성욱</P>
      <h5 class="my-5">[멀티잇] 풀스택 개발자 취업캠프</h5>
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}
{% endblock js %}