{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block title %} | {{ restaurant.title }}{% endblock title %}

{% block content %}
  <!-- Naver Map -->
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{client_id}}"></script>

  <section class="container-lg">
    <!--게시글 디테일-->
    <div id="map" style="height: 235px"></div>
    <div class="card mb-3">
      <div class="card-header">
        <h3>{{ restaurant.title }}</h3>
        <h5 class="card-title">{{ restaurant.name }}</h5>
      </div>
      <div class="card-body d-flex justify-content-between">
        <p class="card-subtitle text-muted">{{ restaurant.created_at }}</p>
      </div>
      <img src="{{ restaurant.image.url }}" alt="{{ restaurant.img_path }}" class="card-img d-block user-select-none" width="100%" height="200" viewbox="0 0 318 180">
      <div class="card-body" style="min-height: 250px">
        <p class="card-text text-wrap">{{ restaurant.content }}</p>
        <div>
          {% if user in restaurant.like_users.all %}
        <div id="like-area">
          <button id="like-btn" name="{{ restaurant.pk }}" class="btn btn-dark">
            <i class="fa-regular fa-heart fa-lg">좋아요 취소</i>
          </button>
        </div>
        {% else %}
        <div id="like-area">
          <button id="like-btn" name="{{ restaurant.pk }}" class="btn btn-danger">
            <i class="fa-regular fa-heart fa-lg">좋아요</i>
          </button>
        </div> 
          {% endif %}
        </div>
      </div>
    </div>
    <!--게시글 아래 버튼 묶음-->
    <div class="d-flex justify-content-between my-3">
      <a href="{% url 'articles:board' %}" type="button" class="card-link btn btn-secondary">
        <i class="fas fa-stream mx-1"></i>목록</a>
      <div>
        <a href="{% url 'articles:update' restaurant.pk %}" type="button" class="card-link btn btn-secondary">수정</a>
        <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          삭제
        </button>
      </div>
    </div>
    <!-- 삭제 모달-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">정말 삭제하시겠습니까?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-footer">
            <form action="{% url 'articles:delete' restaurant.pk %}" method="POST">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger" value="삭제">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                취소
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--댓글-->
    <div class="card my-5" >
      <div class="card-header" id="comments-area">
        <div id="comments-count">
          <i class="fa-regular fa-comment-smile"></i>리뷰
          {{ restaurant.articlecomment_set.all|length }}개
        </div>

      </div>
      <!--test-->
      <!-- <form id="comment-form" autocomplete="off"> {% csrf_token %} {% bootstrap_form comment_form %} <button class="btn btn-primary" type="submit" name="{{restaurant.pk}}"></button> </form> -->
      <!-- 댓글 폼-->
      <form id="comment-form" autocomplete="off" class="comment-form">
        {% csrf_token %}
        <div class="container-fluid my-2 py-2 text-dark">
          <div class="row d-flex">
            <div class="col-12">
              <!-- alret -->
              <div id="alert-box"></div>
              <div class="d-flex flex-start mb-4">
                <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65" height="65"/>
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="">
                      <div class="d-flex align-items-center">
                        <!-- title -->
                        {% render_field comment_form.title class="form-control w-100" placeholder="제목"%}
                        <!-- rating -->
                        {% render_field comment_form.rating class="form-control w-100" placeholder="평가"%}
                      </div>
                      <p>
                        <!-- content -->
                        {% render_field comment_form.content class="form-control w-100" placeholder="내용"%}
                      </p>
                      <!-- image -->
                      <label for="id_image">
                        <!-- 이미지 첨부 아이콘 -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-image-fill" viewbox="0 0 16 16">
                          <path d="M4 0h8a2 2 0 0 1 2 2v8.293l-2.73-2.73a1 1 0 0 0-1.52.127l-1.889 2.644-1.769-1.062a1 1 0 0 0-1.222.15L2 12.292V2a2 2 0 0 1 2-2zm4.002 5.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                          <path d="M10.564 8.27 14 11.708V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-.293l3.578-3.577 2.56 1.536 2.426-3.395z"/>
                        </svg>
                      </label>
                      {% render_field comment_form.image class="form-control w-100 d-none" placeholder="이미지"%}
                      <div id="image-section"></div>
                    </div>
                  </div>
                  <!-- submit -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm" name="{{restaurant.pk}}">등록</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- 댓글 리스트 -->
      {% for comment in comments %}
        <div class="container-fluid my-2 py-2 text-dark" id="comments-area">
          <div class="row d-flex">
            <div class="col-12">
              <div class="d-flex flex-start mb-4">
                <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65" height="65"/>
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <h5>{{ comment.title }}</h5>
                        </div>
                        <div>
                          <a href="#!" class="link-muted">
                            <i class="fas fa-reply me-1"></i>
                            수정</a>
                          <a href="{% url 'articles:delete_comment' restaurant.pk comment.pk %}" class="link-muted" method="post">삭제</a>
                        </div>
                      </div>
                      <p class="small mb-3">{{ comment.created_at }}</p>
                      <p>
                        {{ comment.content }}
                      </p>
                      <div>
                        {% if comment.image %}
                          <img src="{{ comment.image.url }}" alt="">
                        {% else %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

{% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    var lon = {{longitude}}
    var lat = {{latitude}}
    var map = new naver
      .maps
      .Map('map', {
        center: new naver
          .maps
          .LatLng(lat, lon),
        zoom: 20
      });
    var marker = new naver
      .maps
      .Marker({
        position: new naver
          .maps
          .LatLng(lat, lon),
        map: map
      });
    // Comment
    const alertBox = document.getElementById('alert-box')
    const image_section = document.getElementById('image-section')
    const form = document.getElementById('comment-form')

    const title = document.getElementById('id_title')
    const rating = document.getElementById('id_rating')
    const content = document.getElementById('id_content')
    const image = document.getElementById('id_image')

    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    const url = ""

    const handleAlerts = (type, text) => {
      alertBox.innerHTML = `<div class="alert alert-${type}" role="alert">
                              ${text}
                            </div>`
    }

    function reloadDivArea() {
      $('#comments-count').load(location.href + ' #comments-count');
      $('#comments-area').load(location.href + ' #comments-area');
    }

    image.addEventListener('change', () => {
      const img_data = image.files[0]
      const url = URL.createObjectURL(img_data)
      image_section.innerHTML += `<img src="${url}" width=500px>`
    })

    form.addEventListener('submit', e => {
      e.preventDefault()

      var pk = $(this).attr('name')
      const fd = new FormData()

      fd.append('pk', pk)
      fd.append('csrfmiddlewaretoken', csrf[0].value)
      fd.append('title', title.value)
      fd.append('rating', rating.value)
      fd.append('content', content.value)
      
      fd.append('image',  image.files[0])
      
      $.ajax({
        type: 'POST',
        url: url,
        enctype: 'multipart.form-data',
        data: fd,
        success: function (response) {
          console.log(response)
          console.log(location.href)
          const sText = `${response.title} 댓글 작성이 완료되었습니다.`
          handleAlerts('success', sText)
          setTimeout(() => {
            alertBox.innerHTML = ""
            image_section.innerHTML = ""
            title.value = ""
            rating.value = ""
            content.value = ""
            image.value = ""
            reloadDivArea()
          }, 2000)

        },
        error: function (error) {
          console.log(error)
          handleAlerts('danger', 'error')
        },
        
        cache: false,
        contentType: false,
        processData: false
      })

    })

  // like
  const likeBtn = document.querySelector('#like-btn')
  
  likeBtn.addEventListener('click', e => {
    const restaurantPk = {{ restaurant.pk }}
    $.ajax({
      type : 'POST',
      url: "{% url 'articles:likes' %}",
      data : {
        'pk' : restaurantPk,
        'csrfmiddlewaretoken' : csrf[0].value,
      },
      dataType : "json",
      success: function(response){
        console.log(response.is_liked)
        const likeArea = document.querySelector('#like-area')
        if(response.is_liked){
          likeBtn.classList.add('btn-danger')
          likeBtn.classList.remove('btn-dark')
          likeBtn.innerHTML = 
          `
          <i class="fa-regular fa-heart fa-lg">좋아요</i>
          `
        }else{
          likeBtn.classList.add('btn-dark')
          likeBtn.classList.remove('btn-danger')
          likeBtn.innerHTML = 
          `
          <i class="fa-regular fa-heart fa-lg">좋아요 취소</i>
          `
        }
        
      }

    })

  })
  

</script>
<script>
  const searchUrl = window.location.href
  const searchForm = document.getElementById('search-form')
  const searchInput = document.getElementById('search-input')
  const resultsBox = document.getElementById('results-box')
  const searchCsrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
  console.log(searchUrl)
  const searchValue = (restaurant) =>{
    $.ajax({
      type: 'POST',
      url: '{% url "articles:search" %}',
      data: {
        'csrfmiddlewaretoken': searchCsrf,
        'restaurant' : restaurant,
      },
      success: (res)=>{
        console.log(res.restaurant)
        const data = res.restaurant
        if (Array.isArray(data)) {
          resultsBox.innerHTML = ""
          let detailUrl = searchUrl.replace('/'+{{ restaurant.pk }}, '');
          data.forEach(restaurant => {
            resultsBox.innerHTML +=
            `
            <a href="${detailUrl}${restaurant.pk}">
            <div class="d-flex text-muted pt-3">
            <img src="${restaurant.image}" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32">
              <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">${restaurant.title}</strong>
            <div>
              <small class="d-block"> ${restaurant.address} </small>
              <small> ${restaurant.grade} </small>
            </div>
            
            <a href="#">Follow</a>
          </div>
        </div>
        </div>
      </a>
            `
          })
        } else {
            if (searchInput.value.length > 0){
              resultsBox.innerHTML = `<b>${data}</b>`
          }else {
            resultsBox.classList.add('d-none')
          }
        }

      },
      error: (err)=> {
        console.log(err)
      }
      
    })
  }

  searchInput.addEventListener('keyup', e=>{

    if (resultsBox.classList.contains('d-none')){
      resultsBox.classList.remove('d-none')
    }
    searchValue(e.target.value)
  })

</script>


{% endblock js %}
{% endblock content %}