{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %} | 맛집{% endblock title %}
{% block content %}
<section class="mainbg">
  <div class="container">
    <h1 id="mat">
      맛집 리스트
    </h1>
    <!--해쉬태그-->
    <div class="select_tag">
        <button class="tag_list" id="all">
            <img src="{% static 'images/board/all.png' %}" style="weight:40px; height:40px;" alt="">
            {% comment %} <a href="https://www.flaticon.com/free-icons/korea" title="korea icons">Korea icons created by Freepik - Flaticon</a> {% endcomment %}
            <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">All</p>
        </button>
        <button class="tag_list" value="1" id="kor">
          <img src="{% static 'images/board/korea.png' %}" style="weight:40px; height:40px;" alt="">
          {% comment %} <a href="https://www.flaticon.com/free-icons/korea" title="korea icons">Korea icons created by Freepik - Flaticon</a> {% endcomment %}
          <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">한식</p>
        </button>
        <button class="tag_list" value="2" id="cha">
          <img src="{% static 'images/board/china.png' %}" style="weight:40px; height:40px;" alt="">
          {% comment %} <a href="https://www.flaticon.com/free-icons/china" title="china icons">China icons created by Freepik - Flaticon</a> {% endcomment %}
          <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">중식</p>
        </button>
        <button class="tag_list" value="3" id="jap">
          <img src="{% static 'images/board/japan.png' %}" style="weight:40px; height:40px;" alt="">
          {% comment %} <a href="https://www.flaticon.com/free-icons/japan" title="japan icons">Japan icons created by Freepik - Flaticon</a> {% endcomment %}
          <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">일식</p>
        </button>
        <button class="tag_list" value="4" id="yang">
          <img src="{% static 'images/board/italy.png' %}" style="weight:40px; height:40px;" alt="">
          {% comment %} <a href="https://www.flaticon.com/free-icons/italy" title="italy icons">Italy icons created by Freepik - Flaticon</a> {% endcomment %}
          <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">양식</p>
        </button>
        <button class="tag_list" value="5" id="world">
          <img src="{% static 'images/board/world.png' %}" style="weight:40px; height:40px;" alt="">
          {% comment %} <a href="https://www.flaticon.com/free-icons/world" title="world icons">World icons created by srip - Flaticon</a> {% endcomment %}
          <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">세계 음식</p>
        </button>
        <button class="tag_list" value="7" id="caf">
          <img src="{% static 'images/board/coffee.png' %}" style="weight:40px; height:40px;" alt="">
          {% comment %} <a href="https://www.flaticon.com/free-icons/cafe" title="cafe icons">Cafe icons created by Freepik - Flaticon</a> {% endcomment %}
          <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">카페</p>
        </button>
        <button class="tag_list" value="8" id="pub">
          <img src="{% static 'images/board/toast.png' %}" style="weight:40px; height:40px;" alt="">
          {% comment %} <a href="https://www.flaticon.com/free-icons/beer" title="beer icons">Beer icons created by Freepik - Flaticon</a> {% endcomment %}
          <p style="font-size: 12px; margin-top: 5px; font-weight: bold;">펍</p>
        </button>
      </div>
    </div>
  <div class="container-lg" id="board_out">
    {% if user.is_authenticated %}
      <a href="{% url 'articles:create' %}" type="button" class="btn btn-all mb-4">맛집 등록</a>
    {% endif %}
    <!-- 카드 리스트 -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5" id="masterdiv">
      {% for restaurant in restaurants %}
        <div class="col">
          <div class="page_card mt-3 px-2 py-3">
            <a href="{% url 'articles:detail' restaurant.pk %}" class="card-link text-decoration-none">
              <h5 class="card-header mb-2">{{ restaurant.title }}</h5>
            </a>
            <div class="card-body d-flex flex-column justify-content-between" style="color:rgba(41, 39, 89, 1);">
              <h6 class="card-title text-muted"><i class="fa-solid fa-location-dot"></i>  {{ restaurant.address }}</h6>
              <small class="card-text mb-2"><i class="fa-solid fa-phone"></i> {{ restaurant.phone_number }}</small>
            </div>
            {% if restaurant.pk > 889  %}
            <img src= "{{ restaurant.image.url }}" alt="{{ restaurant.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
            {% else %}
            <img src= "{{ restaurant.image }}" alt="{{ restaurant.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
            {% endif %}
            <div class="card-body">
              <p class="card-text" name="comment-rating">{{ restaurant.avg_rating}}</p>
              <div class="card-text mt-2">좋아요 {{ restaurant.like_users_ser.all|length}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- 페이징처리 시작 -->
      <ul class="pagination justify-content-center py-4">
        <!-- 이전페이지 -->
        {% if restaurants.has_previous %}
          <li class="page-item d-flex flex-row">
            <a class="page-link" href="?page=1/"><i class="fa-solid fa-backward-step"></i></a>
            <a class="page-link" href="?page={{ restaurants.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><i class="fa-solid fa-chevron-left"></i></a>
          </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in restaurants.paginator.page_range %}
          {% if page_number >= restaurants.number|add:-2 and page_number <= restaurants.number|add:2 %}
            {% if page_number == restaurants.number %}  
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if restaurants.has_next %}
          <li class="page-item d-flex flex-row">
            <a class="page-link" href="?page={{ restaurants.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
            <a class="page-link" href="?page=1/"><i class="fa-solid fa-forward-step"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><i class="fa-solid fa-chevron-right"></i></a>
          </li>
        {% endif %}
      </ul>
      <!-- 페이징처리 끝 -->
    </section>
  </div>
</section>  
{% endblock content %}

{% block js %}
<script>
  var likeBtn = document.getElementById("like")
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  starRatings = document.getElementsByName('comment-rating')
  
  starRatings.forEach(starRating => {
    var rate = starRating.innerHTML
    console.log(starRatings)
  if(rate == 1){
    starRating.innerHTML = 
    `
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    `
  }else if(rate == 2){
    starRating.innerHTML = 
    `
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    `
  }else if(rate == 3){
    starRating.innerHTML = 
    `
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    `
  }else if(rate == 4){
    starRating.innerHTML = 
    `
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    `
  }else if(rate == 5){
    starRating.innerHTML = 
    `
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    <span class="fa fa-star fa-3x-lg checked"></span>
    `
  }else if(rate == '0'){
    starRating.innerHTML = 
    `
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    <span class="fa fa-star fa-3x-lg"></span>
    `
  }
  })
</script>
{% endblock js %}