{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}{{ restaurant.title }}
{% endblock title %}

{% block content %}
  <div class="main_back">
    <div class="container">
      <div>
        <div id="carouselExampleIndicators" class="carousel slide" st="st" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner" style="border-radius: 2rem;">
            <div class="carousel-item active">
              <img src="{% static 'images/home/main_1.jpg' %}" class="d-block w-100" style="height: 500px; opacity: 70%;" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/home/main_2.jpg' %}" class="d-block w-100" style="height: 500px; opacity: 70%;" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'images/home/main_3.jpg' %}" class="d-block w-100" style="height: 500px; opacity: 70%;" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div style="background-color: rgba(242, 242, 242, .5);">
      <div class="container slidebox">
        <input type="radio" name="slide" id="slide01" checked="checked">
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <input type="radio" name="slide" id="slide04">
        <ul class="slidelist">
          <li class="slideitem">
            <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="slideitem">
            <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="slideitem">
            <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="slideitem">
            <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" id="home_card" style="white-space: normal;">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="slide-control">
          <div class="control01">
            <label for="slide04" class="prev"></label>
            <label for="slide02" class="next"></label>
          </div>
          <div class="control02">
            <label for="slide01" class="prev"></label>
            <label for="slide03" class="next"></label>
          </div>
          <div class="control03">
            <label for="slide02" class="prev"></label>
            <label for="slide04" class="next"></label>
          </div>
          <div class="control04">
            <label for="slide03" class="prev"></label>
            <label for="slide01" class="next"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="" alt="">

  <script>
    const url = window
      .location
      .href
      console
      .log("hello world")
    console.log(url)
    const searchForm = document.getElementById('search-form')
    const searchInput = document.getElementById('search-input')
    const resultsBox = document.getElementById('results-box')
    const csrf = document
      .getElementsByName('csrfmiddlewaretoken')[0]
      .value

    const searchValue = (restaurant) => {
      $.ajax({
        type: 'POST',
        url: '{% url "articles:search" %}',
        data: {
          'csrfmiddlewaretoken': csrf,
          'restaurant': restaurant
        },
        success: (res) => {
          console.log(res.restaurant)
          const data = res.restaurant
          if (Array.isArray(data)) {
            resultsBox.innerHTML = ""
            let detailUrl = url.replace('home', '');
            data.forEach(restaurant => {
              resultsBox.innerHTML += `
            <a href="${detailUrl}${restaurant.pk}">
            <div class="d-flex text-muted pt-3">
            <img src="${restaurant.image}" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32">
              <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">${restaurant.title}</strong>
            <div>
              <small class="d-block"> ${restaurant.address} </small>
              <small> ${restaurant.grade} </small>
            </div>
            
            <a href="#">Follow</a>
          </div>
        </div>
        </div>
      </a>
            `
            })
          } else {
            if (searchInput.value.length > 0) {
              resultsBox.innerHTML = `<b>${data}</b>`
            } else {
              resultsBox
                .classList
                .add('d-none')
            }
          }

        },
        error: (err) => {
          console.log(err)
        }

      })
    }

    searchInput.addEventListener('keyup', e => {

      if (resultsBox.classList.contains('d-none')) {
        resultsBox
          .classList
          .remove('d-none')
      }
      searchValue(e.target.value)
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock content %}