{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
  | 오늘 뭐 먹지?
{% endblock title %}

{% block content %}
  <section class="mainbg py-3">
    <div class="mainsearch d-flex justify-content-center align-items-center">
      {% comment %} <form class="d-flex w-50 mb-3" id="search-form" autocomplete="off">
        {% csrf_token %}
        <input type="search" id="search-input" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
      </form> {% endcomment %}
      <div class="p-3 bg-body rounded shadow-sm d-none w-50" id="results-box"></div> 
    </div>
    <div class="container">      
      <div class="boxbg">
        <div class="container slidebox">
          <input type="radio" name="slide" id="slide01" checked="checked">
          <input type="radio" name="slide" id="slide02">
          <input type="radio" name="slide" id="slide03">
          <input type="radio" name="slide" id="slide04">
          <ul class="slidelist">
            <li class="slideitem">
              <a href="{% url 'articles:board' %}" style="position:absolute; right:0; top: 1rem; font-size: 1.5rem;">맛집리스트👉👉</a>
              <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
                {% for restaurant1 in restaurants_1 %}
                <div class="col px-0">
                  <div class="page_card mt-3 px-2 py-3">
                  <a href="{% url 'articles:detail' restaurant1.pk %}" class="card-link text-decoration-none">
                    <h5 class="card-header mb-2">{{ restaurant1.title }}</h5>
                  </a>
                  <div class="card-body d-flex flex-column justify-content-between" style="color:rgba(41, 39, 89, 1);">
                    <h6 class="card-title text-muted"><i class="fa-solid fa-location-dot"></i>  {{ restaurant1.address }}</h6>
                    {% if restaurant1.phone_number%}
                    <small class="card-text mb-2"><i class="fa-solid fa-phone"></i> {{ restaurant1.phone_number }}</small>
                    {% else %}
                    <small><i class="fa-solid fa-phone"></i></small>
                    {% endif %}
                  </div>
                  {% if restaurant1.pk > 889  %}
                  <img src= "{{ restaurant1.image.url }}" alt="{{ restaurant1.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% else %}
                  <img src= "{{ restaurant1.image }}" alt="{{ restaurant1.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% endif %}
                  <div class="card-body">
                    <p class="card-text" name="comment-rating">{{ restaurant1.avg_rating}}</p>
                    <div class="card-text mt-2">좋아요 {{ restaurant1.like_users.count}}</div>
                    <div class="card-text mt-2">댓글 {{ restaurant1.articlecomment_set.all|length}}</div>
                  </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </li>
            <li class="slideitem">
              <a href="{% url 'articles:board' %}" style="position:absolute; right:0; top: 1rem; font-size: 1.5rem;">맛집리스트👉👉</a>
              <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
                {% for restaurant2 in restaurants_2 %}
                <div class="col px-0">
                  <div class="page_card mt-3 px-2 py-3">
                  <a href="{% url 'articles:detail' restaurant2.pk %}" class="card-link text-decoration-none">
                    <h5 class="card-header mb-2">{{ restaurant2.title }}</h5>
                  </a>
                  <div class="card-body d-flex flex-column justify-content-between" style="color:rgba(41, 39, 89, 1);">
                    <h6 class="card-title text-muted"><i class="fa-solid fa-location-dot"></i>  {{ restaurant2.address }}</h6>
                    {% if restaurant2.phone_number%}
                    <small class="card-text mb-2"><i class="fa-solid fa-phone"></i> {{ restaurant2.phone_number }}</small>
                    {% else %}
                    <small><i class="fa-solid fa-phone"></i></small>
                    {% endif %}
                  </div>
                  {% if restaurant2.pk > 889  %}
                  <img src= "{{ restaurant2.image.url }}" alt="{{ restaurant2.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% else %}
                  <img src= "{{ restaurant2.image }}" alt="{{ restaurant2.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% endif %}
                  <div class="card-body">
                    <p class="card-text" name="comment-rating">{{ restaurant2.avg_rating}}</p>
                    <div class="card-text mt-2">좋아요 {{ restaurant2.like_users.count}}</div>
                    <div class="card-text mt-2">댓글 {{ restaurant2.articlecomment_set.all|length}}</div>
                  </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </li>
            <li class="slideitem">
              <a href="{% url 'articles:board' %}" style="position:absolute; right:0; top: 1rem; font-size: 1.5rem;">맛집리스트👉👉</a>
              <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
                {% for restaurant3 in restaurants_3 %}
                <div class="col px-0">
                  <div class="page_card mt-3 px-2 py-3">
                  <a href="{% url 'articles:detail' restaurant3.pk %}" class="card-link text-decoration-none">
                    <h5 class="card-header mb-2">{{ restaurant3.title }}</h5>
                  </a>
                  <div class="card-body d-flex flex-column justify-content-between" style="color:rgba(41, 39, 89, 1);">
                    <h6 class="card-title text-muted"><i class="fa-solid fa-location-dot"></i>  {{ restaurant3.address }}</h6>
                    {% if restaurant3.phone_number%}
                    <small class="card-text mb-2"><i class="fa-solid fa-phone"></i> {{ restaurant3.phone_number }}</small>
                    {% else %}
                    <small><i class="fa-solid fa-phone"></i></small>
                    {% endif %}
                  </div>
                  {% if restaurant3.pk > 889  %}
                  <img src= "{{ restaurant3.image.url }}" alt="{{ restaurant3.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% else %}
                  <img src= "{{ restaurant3.image }}" alt="{{ restaurant3.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% endif %}
                  <div class="card-body">
                    <p class="card-text" name="comment-rating">{{ restaurant3.avg_rating}}</p>
                    <div class="card-text mt-2">좋아요 {{ restaurant3.like_users.count}}</div>
                    <div class="card-text mt-2">댓글 {{ restaurant3.articlecomment_set.all|length}}</div>
                  </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </li>
            <li class="slideitem">
              <a href="{% url 'articles:board' %}" style="position:absolute; right:0; top: 1rem; font-size: 1.5rem;">맛집리스트👉👉</a>
              <div class="row row-cols-1 row-cols-md-4 g-4 d-flex justify-content-around">
                {% for restaurant4 in restaurants_4 %}
                <div class="col px-0">
                  <div class="page_card mt-3 px-2 py-3">
                  <a href="{% url 'articles:detail' restaurant4.pk %}" class="card-link text-decoration-none">
                    <h5 class="card-header mb-2">{{ restaurant4.title }}</h5>
                  </a>
                  <div class="card-body d-flex flex-column justify-content-between" style="color:rgba(41, 39, 89, 1);">
                    <h6 class="card-title text-muted"><i class="fa-solid fa-location-dot"></i>  {{ restaurant4.address }}</h6>
                    {% if restaurant4.phone_number%}
                    <small class="card-text mb-2"><i class="fa-solid fa-phone"></i> {{ restaurant4.phone_number }}</small>
                    {% else %}
                    <small><i class="fa-solid fa-phone"></i></small>
                    {% endif %}
                  </div>
                  {% if restaurant4.pk > 889  %}
                  <img src= "{{ restaurant4.image.url }}" alt="{{ restaurant4.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% else %}
                  <img src= "{{ restaurant4.image }}" alt="{{ restaurant4.image  }}" class="card-img d-block user-select-none my-2" width="100%" height="200" viewbox="0 0 318 180">
                  {% endif %}
                  <div class="card-body">
                    <p class="card-text" name="comment-rating">{{ restaurant4.avg_rating}}</p>
                    <div class="card-text mt-2">좋아요 {{ restaurant4.like_users.count}}</div>
                    <div class="card-text mt-2">댓글 {{ restaurant4.articlecomment_set.all|length}}</div>
                  </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </li>
          </ul>
          <div class="slide-control">
            <div class="control01">
              <label for="slide04" class="prev"></label>
              <label for="slide02" class="next"></label>
            </div>
            <div class="control02">
              <label for="slide01" class="prev"></label>
              <label for="slide03" class="next"></label>
            </div>
            <div class="control03">
              <label for="slide02" class="prev"></label>
              <label for="slide04" class="next"></label>
            </div>
            <div class="control04">
              <label for="slide03" class="prev"></label>
              <label for="slide01" class="next"></label>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock content %}
{% block js %}

  <script>
    const url = window
      .location
      .href
      console
      .log("hello world")
    console.log(url)
    const searchForm = document.getElementById('search-form')
    const searchInput = document.getElementById('search-input')
    const resultsBox = document.getElementById('results-box')
    const csrf = document
      .getElementsByName('csrfmiddlewaretoken')[0]
      .value

    const searchValue = (restaurant) => {
      $.ajax({
        type: 'POST',
        url: '{% url "articles:search" %}',
        data: {
          'csrfmiddlewaretoken': csrf,
          'restaurant': restaurant
        },
        success: (res) => {
          console.log(res.restaurant)
          const data = res.restaurant
          if (Array.isArray(data)) {
            resultsBox.innerHTML = ""
            let detailUrl = url.replace('home', '');
            data.forEach(restaurant => {
              resultsBox.innerHTML += `
            <a href="${detailUrl}${restaurant.pk}">
            <div class="d-flex text-muted pt-3">
              <img src="${restaurant.image}" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32">
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">${restaurant.title}</strong>
            <div>
              <small class="d-block"> ${restaurant.address} </small>
              <small> ${restaurant.phone_number} </small>
            </div>
            
            <a href="#">Follow</a>
          </div>
        </div>
        </div>
      </a>
            `
            })
          } else {
            if (searchInput.value.length > 0) {
              resultsBox.innerHTML = `<b>${data}</b>`
            } else {
              resultsBox
                .classList
                .add('d-none')
            }
          }

        },
        error: (err) => {
          console.log(err)
        }

      })
    }

    searchInput.addEventListener('keyup', e => {

      if (resultsBox.classList.contains('d-none')) {
        resultsBox
          .classList
          .remove('d-none')
      }
      searchValue(e.target.value)
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock js %}
