<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔞청소년입장불가</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-column" id="navbarSupportedContent">
          <form class="d-flex w-50 mb-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <ul class="d-flex justify-content-around w-50">
            <li>맛집리스트</li>
            <li>자유게시판</li>
            <li>항목1</li>
            <li>항목1</li>
          </ul>
        </div>
        <div class="d-flex">
          <a href="">Login</a>
          <p>
            /
          </p>
          <a href="">Sign Up</a>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock content %}
    <script src="{% static 'JS/signup.js' %}"></script>
  </body>

</html>